/* 
==============
variables
==============
*/
:root{
    --primaryClr:#f15025;
    --mainBlack:#222;
    --mainWhite:#fff;
    --offWhite:#f7f7f7;
    --darkGrey:#afafaf;
    --mainTransition:all 0.3s linear;
    --mainSpacing: 0.2rem;
}

/*  
=============
Global styles
=============
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fragment Mono', monospace;
    color: var(--mainBlack);
    background-color: var(--mainWhite);
    line-height: 1.5;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
h1,h2,h3{
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1.25rem;
}
h1{
    font-size: 3rem;
}
h2{
    margin-bottom: 0;
}
p{
    font-weight: 300;
    font-size: 0.7rem;
    line-height: 2;
}
/* button */
.btn{
    display: inline-block;
    text-transform: capitalize;
    color: var(--primaryClr);
    border: 3px solid var(--primaryClr);
    margin: 3rem;
    padding: 0.5rem 1rem;
    transition: var(--mainTransition);
}
.btn:hover{
    color: var(--mainWhite);
    background-color: var(--primaryClr);
}
/* 
=========
navbar
=========
*/
.main-navbar{
    padding: 0 2rem;
    background-color: var(--darkGrey);
}
.main-navbar li{
    list-style: none;
}
.main-navbar a{
    text-transform: capitalize;
    color: var(--primaryClr);
    letter-spacing: var(--mainSpacing);
    transition: var(--mainTransition);
    display: block;
    padding: 1rem 0;
} 
.main-navbar a:hover{
    color: var(--mainBlack);
}
@media screen and (min-width:992px) {
    .main-navbar ul{
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .main-navbar a{
        text-align: center;
    }
}
/* 
==========
Hero
==========
*/
.hero{
    background-color: var(--primaryClr);
    min-height: 100vh;
    color: var(--mainWhite);
    display: grid;
    justify-content: center;
    align-items: center;

}
.hero-banner p{
    width:80%;
    max-width: 560px;
    font-size: 1rem;
}
@media screen and (max-width:600px) {
    .hero-banner{
        padding: 0 3rem;
    }
}
@media screen and (min-width:768px) {
    .hero{
        background: linear-gradient(rgba(241,80,37,0.75), rgba(0,0,0,0.7)) ,url(./images/image-2.jpeg) center/cover fixed no-repeat;
    }
    .hero-banner h1{
        font-size: 4rem;
    }
}

/* 
=============
Cards
=============
*/

.cards-title{
    text-align: center;
}
.cards{
    padding: 4rem 0;
}
.cards-center{
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;
}
.card{
    border: 2px solid var(--darkGrey);
    margin-bottom: 3rem;
}
.cards-info{
    padding: 1rem;
}
.card-footer{
    background-color: var(--darkGrey);
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    color: var(--primaryClr);
} 

/* @media screen and (min-width:768px) {
    .cards-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }
} 
@media screen and (min-width:992px) {
    .cards-center{
        grid-template-columns: repeat(3, 1fr);
    }
} */

.cards-center{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(569px, 1fr));
    /* three column layout */
    /*grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));*/
    /* four column layout */
    /* grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));  */
}

/* row height 
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
}
.card img{
    height: 100%;
} */

/*
===========
Cards
===========
*/
.tiles{
    padding: 4rem 0;
}
.title{
    text-align: center;
}
.tiles-center{
    width: 90vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    row-gap: 2rem;
}
@media screen and (min-width:768px) {
    .tiles-center{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
@media screen and (min-width:992px) {
    .tiles-center{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:992px) {
    .tiles-center{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 200px);
        grid-template-areas: 
        "a a a b"
        "a a a c"
        "d d d d"
        "e f f f"
        "e g h i"
        ;
    }
    .tiles img{
        height: 100%;
        object-fit: cover;
    }
    .tile-1{
        grid-area: a;
    }
    .tile-2{
        grid-area: b;
    }
    .tile-3{
        grid-area: c;
    }
    .tile-4{
        grid-area: d;
    }
    .tile-5{
        grid-area: e;
    }
    .tile-6{
        grid-area: f;
    }
    .tile-7{
        grid-area: g;
    }
    .tile-8{
        grid-area: h;
    }
    .tile-9{
        grid-area: i;
    }
}

/* 
===========
Layout
===========
*/
.header{
    background-color: var(--primaryClr);
    color: var(--mainWhite);
    padding: 0.5rem 0;
    text-align: center;
}
.navbar{
    background-color: var(--darkGrey);
}

.navbar li{
    list-style: none;
}
.navbar a{
    padding: 1rem;
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    transition: var(--mainTransition);
}
.navbar a:hover{
    color: var(--mainWhite);
}
.article{
    padding: 2rem;
}
.article p {
    font-size: 1rem;
    color: gray;
}
.sidebar{
    background-color: var(--primaryClr);
    color: var(--mainWhite);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    font-size: 1.2rem;
}
.footer{
    background-color: var(--mainBlack);
    color: var(--mainWhite);
    text-transform: capitalize;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}
.layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto 1fr auto auto; 
}
@media screen and (min-width:768px) {
    .navbar ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
}
@media screen and (min-width:992px) {
    .layout{
        grid-template-columns: [start] 200px [col-1] 1fr [col-2] 50px [end];
        grid-template-rows:[start] auto [row-1] 1fr [row-2] auto [end];
    }
    .header{
        grid-column: start/end;
        grid-row: start/row-1;
    }
    .navbar{
        grid-column: start/col-1;
        grid-row: row-1/row-2;
    }
    .article{
        grid-column: col-1/col-2;
        grid-row: row-1/row-2;
    }
    .sidebar{
        grid-column: col-2/end;
        grid-row: row-1/row-2;
    }
    .footer{
        grid-column: start/end;
        grid-row: row-2/end;
    }
    .navbar ul{
        grid-template-columns: 1fr;
        height: 100%;
        align-items: center;
    }
    .sidebar{
        grid-template-columns: 1fr;
        height: 100%;
        align-items: center;
        background-color: var(--darkGrey);
    }
}